.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 5px;
}
.video_container {
  width: 43%;
  height: 100px;
  background-color: #030303;
  overflow: hidden;
  cursor: pointer;
}
.video_container_img {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  height: 100px;
  position: relative;
  background-size: cover;
  background-position: center;
}

.time {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  column-gap: 5px;
  right: 10px;
  bottom: 10px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  cursor: pointer;
  padding: 5px;
  margin: 0;
  border-radius: 2px;
  background-color: #030303de;
}
.time > svg {
  font-size: 18px;
}
.chanel_container {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 5px;
}

.title {
  font-size: 13.5px;
  font-weight: 500;
  line-height: 15px;
  color: #030303;
  cursor: pointer;
  text-align: start;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.date,
.chanel_name {
  color: #727272;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.chanel_data {
  width: 57%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 10px;
}
.chanel_data_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
}
.chanel_img {
  /* height: 30px;
  width: 30px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border-radius: 50%; */
  display: none;
}
.chanel_name {
  color: #606060;
  font-size: 12px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  line-height: 14px;
}
.date {
  line-height: 14px;
  color: #606060;
  font-size: 12px;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.chanel_details {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon_phone {
  display: none;
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: end;
  cursor: pointer;
  color: #030303;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.icon > svg,
.icon_phone > svg {
  font-size: 15px;
}
.right_container:last-of-type {
  margin-left: auto;
}
@media screen and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    column-gap: 5px;
  }
  .video_container,
  .video_container_img {
    height: 300px;
  }
}
@media screen and (max-width: 1149px) {
  .container {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    column-gap: 5px;
  }
  .video_container {
    width: 100%;
  }
  .title {
    width: 100%;
  }
  .icon {
    display: none;
  }

  .icon_phone {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: end;
    cursor: pointer;
    color: #030303;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }
  .chanel_data {
    width: 100%;
  }
  .chanel_img {
    height: 30px;
    width: 30px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border-radius: 50%;
    display: block;
  }
}
