.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 20px;
  width: 100%;
}
.container_about_links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 10px;
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 900px) {
  .container_about_links {
    width: 80%;
  }
}
