.container {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.container_video {
  width: 40%;
  background-color: #dbdbdb;
}
.container_video > video {
  border-radius: 2px;
}
.container_video_data {
  width: 58%;
  height: auto;
}
@media screen and (max-width: 900px) {
  .container {
    width: 100%;
  }
  .container_video {
    width: 50%;
    background-color: #dbdbdb;
    border-radius: 10px;
  }
  .container_video > video {
    border-radius: 0;
  }
  .container_video_data {
    width: 48%;
    height: auto;
  }
}
