.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.container_video {
  width: 55%;
  min-height: 220px;
  background-color: #dbdbdb;
  border-radius: 10px;
}
.container_video > video {
  border-radius: 2px;
}
.container_video_data {
  width: 43%;
  height: auto;
}
