.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;

  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.1);
}
.main_top {
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid #dbdbdb;
}
.channel_data_followrs {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  padding: 20px;
  /* overflow: auto; */
}
.container_data_item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}
.followers {
  font-size: 15px;
  font-weight: 500;
  color: #030303;
}
.title {
  font-size: 14px;
  font-weight: 400;
  color: #727272;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
}
