.container {
  width: 350px;
  height: auto;
  background-color: #fff;
  border-radius: 8px;
  position: absolute;
  /* padding-bottom : 100px; */
}
.main_top {
  width: 100%;
  height: 45px;
  border-bottom: solid 1px #dbdbdb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.second_container_main {
  width: 100%;
  height: auto;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 10px;
}
.second_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.second_container_main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.second_container_connect {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 10px;
  background-color: black;
}
.connect_wallet_main_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
  border-radius: 5px;
  background-color: #e9ecfa;
  padding: 5px;
  cursor: pointer;
}
.second_container_connect_top {
  background-color: #000;
  border-radius: 20px;
  padding: 5px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}
.second_container_connect_top_image {
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.second_container_connect_top_right {
  border-radius: 20px;
  padding: 5px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}
.text_white {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.second_container_items {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.div_button_container {
  width: 100%;
  height: auto;
}

.div_button_container > button {
  width: 100%;
}
