.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 0;
}
.comments_setting {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 20px;
}
.comments_number {
  color: #030303;
  font-size: 16px;
  line-height: 22px;
  padding: 0;
  margin: 0 0 0 0;
}
.all_comments_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* row-gap: 20px; */
}
.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #030303;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
  column-gap: 10px;
  cursor: pointer;
}
.icon > svg {
  font-size: 30px;
}
.chanel {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 0;
  column-gap: 15px;
  position: relative;
}
.img {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
}
.chanel_container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 5px;
  padding: 0px 0 0 0;
}
.chanel_name {
  color: #030303;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.date {
  color: #606060;
  font-size: 12px;
  
  padding: 0;
  margin: 0;
}
.all_comments {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.comment {
  color: #030303;
  font-size: 14px;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.comment_actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex;
  column-gap: 30px;
}
.comment_icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: flex-start;
  column-gap: 5px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  padding: 0;
  margin: 0;
  color: #060606;
}
.comment_icon > svg {
  color: #030303;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
