.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 0;
}
.container_descreption_phone {
  display: none;
}

.lable_open_all_comments {
  display: none;
}
.comments_setting {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 20px;
}
.comments_number {
  color: #030303;
  font-size: 16px;
  line-height: 22px;
  padding: 0;
  margin: 0 0 0 0;
}
.all_comments_container,
.all_comments_container_phone {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* row-gap: 20px; */
}
.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #030303;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
  column-gap: 10px;
  cursor: pointer;
}
.icon > svg {
  font-size: 30px;
}
.chanel {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 0;
  column-gap: 15px;
  position: relative;
}
.img {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
}
.chanel_container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 0px;
  padding: 0px 0 0 0;
}
.chanel_name {
  color: #030303;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.date {
  color: #606060;
  font-size: 12px;
  line-height: 10px;

  padding: 0;
  margin: 0;
}
.all_comments {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.comment {
  width: 90%;
  color: #030303;
  font-size: 14px;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.comment_actions {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex;
  column-gap: 30px;
}
.comment_icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: flex-start;
  column-gap: 5px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  padding: 0;
  margin: 0;
  color: #060606;
}
.comment_icon > svg {
  color: #030303;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
/* ------------------------------input container ---------------------------------*/

.reply_input_container,
.reply_input_container_phone {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 20px;
}
.reply_input {
  width: 100%;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  border-bottom: 1px solid #e7e7e7;
}
.input_container {
  padding-top: 0px;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}
.input_reply_continer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  column-gap: 20px;
}
.input_reply_buttons_continer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  column-gap: 20px;
}
.cancel_btn {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: #030303;
  cursor: pointer;
  min-width: 100px;
  border-radius: 20px;
  padding: 8px 5px;
  background-color: #f0f0f0;
}
.comment_btn {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: #030303;
  cursor: pointer;
  color: #fff;
  min-width: 100px;
  border-radius: 20px;
  padding: 8px 5px;
  background-color: #673de6;
}
@media screen and (max-width: 900px) {
  .container {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0px;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 10px;
  }
  .container_phone {
    width: 100%;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
    border-radius: 20px 20px 0 0;
    padding: 0;
    margin: 0;
    white-space: pre-wrap;
    position: fixed;
    top: 30%;
    bottom: 0;
    height: 70%;
    z-index: 3;
  }
  .lable_open_all_comments {
    width: 100%;
    height: 100%;
    color: #606060;
    font-size: 14px;
    line-height: 10px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  .arrows {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .arrows > svg {
    margin: 0;
    padding: 0;
  }
  .lable_open_all_comments > input {
    display: none;
  }
  .comments_setting {
    display: none;
  }
  .container_descreption_phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 50px;
    border-bottom: 1px solid #dbdbdb;
  }
  .close_rect {
    width: 50px;
    height: 5px;
    background-color: #dbdbdb;
    border-radius: 10px;
  }
  .phone_desc_container {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .descreption {
    font-weight: 600;
    font-size: 18px;
    color: #030303;
  }
  .title {
    padding: 0 10px;
    font-weight: 600;
    font-size: 16px;
    color: #030303;
  }
  .close_button {
    font-size: 26px;
    color: #030303;
    cursor: pointer;
  }
  .video_data {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
    justify-content: flex-start;
    border-bottom: 1px solid #dbdbdb;
    padding: 10px 0;
  }
  .video_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-color: #030303;
  }
  .data_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 20px;
  }
  .video_data {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 0px;
    padding: 0px 10px;
  }
  .date {
    font-size: 12px;
  }
  .icons_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .chanel {
    border-bottom: 1px solid #dbdbdb;
  }
  .right_container {
    margin-right: 10px;
  }
  .img {
    margin-left: 10px;
  }
  .all_comments_container {
    display: none;
  }
  .all_comments_container_phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
  }
  /* ---------------------------------------------------- */
  .reply_input_container {
    display: none;
  }
  .reply_input_container_phone {
    width: 98%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 20px;
    padding: 0 10px;
    margin: 20px 0;
  }
  .img_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 60px;
  }
  .img_container > div {
    height: 50px;
    width: 50px;
  }

  .input_container {
    padding-top: 0px;
    width: 100% - 50px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
  }
  .reply_input {
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    width: 100%;
    min-height: 50px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cancel_btn {
  }
  .reply_input {
    width: 100%;
  }
  .chanel {
    border-top: 1px solid #dbdbdb;
    border-bottom: none;
  }
}
