@font-face {
  font-family: "myFirstFont";
  src: url("../../../../public/fonts/YouTubeSansSemibold.otf");
}

.video_data {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  row-gap: 10px;
  margin: 10px 0px;
}
.data_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  overflow: auto;
}

.data_container::-webkit-scrollbar,
.icons_container::-webkit-scrollbar,
.continer_second::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.data_container,
.icons_container,
.continer_second {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
  overflow-y: hidden;
}

.continer_second {
  width: 100%;
  column-gap: 5px;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 10px;
}
.title > button {
  display: none;
}
.title_text {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}
.container__right_cons_phone {
  display: none;
}
.container__right_cons_phone,
.container__right_cons_desktop {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  column-gap: 5px;
}
.container__left {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  column-gap: 0px;
  background-color: #f2f2f2;
  border-radius: 20px;
}
.container__right_cons_phone {
  display: none;
}
.icons_container {
  width: 56%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  column-gap: 30px;
  /* min-width: 600px; */
  overflow: auto;
  /* */
}
.icon_comments {
  display: none;
}
.container_thmp,
.container__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  column-gap: 0px;
}
.container__right {
  column-gap: 0px;
}
.container_thmp {
  background-color: #f2f2f2;
  border-radius: 20px;
}
.icon_1,
.icon_2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  column-gap: 5px;
  cursor: pointer;
  cursor: pointer;
  padding: 6px 10px;
  margin: 0;
}

.icon_1,
.icon_2 {
  border-radius: 20px;
}
.icon_1:hover,
.icon_2:hover {
  background-color: #e5e5e5;
  overflow: hidden;
}

.div_main {
  height: auto;
  /* margin: auto; */
}
.icon_1_1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  column-gap: 5px;
  cursor: pointer;
  cursor: pointer;
  padding: 6px 10px;
  margin: 0;
}
.icon_1_1 > svg {
  font-size: 20px;
}
.container_stylied {
  height: 100%;
  transition: all 0.3s ease;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container_stylied,
.container_defualt {
  height: 100%;
}
.thum_left_1 {
  transition: all 0.3s ease;
  border: 1px solid #00000000;
}

.container_clicked {
  border: 1px solid #cccccc;
}
.thum_left_1:hover {
  height: 100%;
  transform: rotate(360deg);
  transform: scale(1.01);
}

.icon_1 > p > span,
.icon_2 > p > span {
  font-size: 22px;
}

.icon_1 > span > span,
.icon_2 > span > span {
  font-size: 22px;
}

.icon_1 {
  border-right: 1px solid #dbdbdb;
  padding: 0 10px;
}

.icon_2 > svg,
.icon_comments > svg {
  font-size: 20px;
}
.custtom_icon {
  font-size: 18px;
}

.nubmer_of_likes {
  font-size: 14px;
  font-weight: 500;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.date_phone {
  display: none;
}
.date,
.date_phone {
  color: #606060;
  font-size: 14px;
  line-height: 15px;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .icon_comments {
    display: flex;
  }
  .container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0px;
  }
  .video_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-color: #030303;
    position: relative;
    top: 0;
  }
  .video_container_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-color: #030303;
    position: fixed;
    top: 60px;
    z-index: 3;
  }

  .data_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 20px;
  }

  .video_data {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 0px;
    padding: 0px 10px;
  }
  .date_phone {
    display: block;
  }
  .date {
    display: none;
  }
  .date,
  .date_phone {
    font-size: 12px;
  }

  .icons_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
    column-gap: 40px;
    padding: 0px 0px;
  }
  .icon,
  .icon_comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .disLike {
    display: none;
  }

  .right_container,
  .img {
    margin-right: 10px;
  }
  .img {
    margin-left: 10px;
  }
  .title > button {
    display: block;
    font-size: 20px;
    color: #030303;
  }
  .title_text {
    font-size: 20px;
  }
}
.disLike,
.live_chat {
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 900px) {
  .icons_container {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 30px;
    overflow-y: auto;
    padding: 0 10px;
  }
  .continer_second {
    min-width: 400px;
    overflow-y: auto;
    justify-content: flex-start;
  }
  .icon {
    font-size: 12.5px;
  }
  .icon > svg {
    padding: 2px;
    font-size: 24px;
  }
  .icon_comments,
  .disLike,
  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    column-gap: 5px;
    cursor: pointer;
    color: #030303;
    font-size: 12.5px;
    font-weight: 400;
    line-height: 14px;
  }
  .container__right_cons_phone {
    display: flex;
  }
  .container__right_cons_desktop {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .icon_1 > p > span,
  .icon_2 > p > span {
    font-size: 50px;
  }

  .icon_1 > span > span,
  .icon_2 > span > span {
    font-size: 15px;
  }
  .icon_2 > svg,
  .icon_1 > svg {
    font-size: 15px;
  }
  .nubmer_of_likes {
    font-size: 13px;
    font-weight: 500;
  }
  .container_stylied {
    padding: 0px 0;
  }
}
