.container {
  max-width: 2000px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  background-color: #f9f9f9;
  height: 100%;
}
.childen {
  margin-top: 60px;
  z-index: 3;
  width: 94%;
  height: auto;
}
.childen_100 {
  width: 100%;
  margin-top: 60px;
  z-index: 3;
  height: auto;
}
.childen_MenuBoolean {
  width: 80%;
  margin-top: 60px;
  z-index: 3;
  height: auto;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 100, "GRAD" -25, "opsz" 48;
}
@media screen and (max-width: 900px) {
  .childen_MenuBoolean,
  .childen {
    width: 100%;
  }
}
