.follow_button_black {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #030303;
  cursor: pointer;
  color: #fff;
  min-width: 100px;
  border-radius: 20px;
  padding: 6px 5px;
  background-color: #000;
  margin-top: 0px;
}
.blue_button {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #030303;
  cursor: pointer;
  color: #000;
  min-width: 100px;
  border-radius: 20px;
  padding: 6px 5px;
  background-color: #fbbd18;
  margin-top: 0px;
  border: 1px solid transparent;
}
.cancel_button {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #030303;
  cursor: pointer;
  min-width: 80px;
  border-radius: 20px;
  padding: 6px 5px;
  background-color: #ffffff;
  margin-top: 0px;
  border: 1px solid #dbdbdb;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
}

.cancel_button:hover,
.blue_button:hover {
  border: 1px solid transparent;
  box-shadow: #00000017 0px 3px 12px;
}
