.container {
  width: 100%;
  padding: 0px 0 0px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100px;
}

.main_circl_container {
  position: relative;
  width: 60px;
  height: 60px;
}

.container_svg {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: rotate 2s linear infinite;
}

.circle_circle {
  fill: none;
  stroke: url("#GradientColor");
  stroke-width: 3.5px;
  stroke-dasharray: 126;
  stroke-dashoffset: 126;
  animation: dash 1.5s ease-in-out infinite;
  stroke: #dbdbdb;
}
.circle_circle_static {
  fill: none;
  stroke-width: 3.5px;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
