.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.656);
  z-index: 10;
  top: 0;
  left: 0;
}
.main_first_container {
  width: 100%;
  height: 100%;
  position: relative;
}
.main_container {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 2000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.share_container {
  width: 600px;
  height: auto;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 10px;
  box-shadow: #00000017 0px 3px 12px;
}
.text_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
}

.link_container {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  min-height: 35px;
  border: 1px solid#DBDBDB;
  border-radius: 20px;
  position: relative;
  font-size: 14px;
  color: #030303;
  outline: none;
  padding: 0px;
}
.link_container > input {
  background-color: transparent;
  padding: 0 10px;
  border-radius: 20px;
  border: none;
  outline: none;
}
.link {
  width: 90%;
  font-size: 14px;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.dots {
  width: 10%;
  font-size: 14px;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.main_link_container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
}

.button_copy {
  background-color: #fbbd18;
  height: 100%;
  padding: 0 20px;
  border-radius: 0 20px 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  min-height: 35px;
}
.button_copy:hover {
  background-color: #522dc2;
}

.text {
  font-size: 15px;
  font-weight: 500;
}
.svg {
  cursor: pointer;
  border: none;

  font-size: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.link_container:hover {
  background-color: #fafafa;
  border: solid 1px transparent;
  box-shadow: #00000017 0px 3px 12px;
}

@media screen and (max-width: 700px) {
  .share_container {
    width: 90%;
  }
}
