.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.481);
  z-index: 10;
  top: 0;
  left: 0;
}
.main_first_container {
  width: 100%;
  height: 100%;
  position: relative;
}
.main_container {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 2000px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.share_container {
  width: 400px;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 10px;
}
.text_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
}
.container_input_support_address {
  width: 100%;
  height: auto;
}

.link_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 5px;
}
.link {
  width: 90%;
  font-size: 14px;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.dots {
  width: 10%;
  font-size: 14px;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.main_link_container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
}

.text {
  font-size: 15px;
  font-weight: 500;
}
.svg {
  cursor: pointer;
  border: none;

  font-size: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container_main_buttones {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container_input_vlaue {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container_input_support_id {
  padding: 5px 5px;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  border: 1px solid #dbdbdd;
  font-weight: 400;
  font-size: 14px;
  /* color: red; */
}

.container_input_coin {
  width: 100%;
  height: auto;
}
.img {
  width: 35px;
  height: 35px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.channe {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container_input {
  padding: 5px 20px;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  border: 1px solid #dbdbdd;
}
.container_input::-webkit-outer-spin-button,
.container_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.container_input[type="number"] {
  -moz-appearance: textfield;
}
@media screen and (max-width: 700px) {
  .share_container {
    width: 90%;
  }
}
