.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 20px;
  row-gap: 20px;
  width: 100%;
}

.container_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  box-shadow: #00000017 0px 3px 12px;
  border-radius: 10px;
  order: 1;
}
.second_div_channel_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 30%;
  box-shadow: #00000017 0px 3px 12px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}
.upload_inputs_container {
  height: 250px;
  width: 100%;
  background: linear-gradient(110deg, #dbdbdbdb 60%, #f0f0f0 60%);
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
  background-size: cover;
  background-position: center;
  position: relative;
}
.hover_container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: 0px 10px 5px #888, 0px -10px 5px #888;
  box-shadow: inset 3px -100px 86px -61px rgba(0, 0, 0, 0.812);
  z-index: 0;
}
/* .image_name_conainer {
} */
.input_label {
  z-index: 10;
}
.camera_of_button {
  background-color: #f9f9f9;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #030303;
  font-size: 20px;
  cursor: pointer;
  z-index: 2;
}
.name {
  font-size: 20px;
  font-weight: bolder;
}
.title {
  font-size: 16px;
  font-weight: 600;
  color: #727272;
}
.name_contanier {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  align-items: flex-start;
  column-gap: 20px;
  height: auto;
}

.input_upload {
  display: none;
}

.links_container {
  min-height: 100px;
  background-color: #fff;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 20px 50px;
  padding-left: 180px;
  /* position: relative; */
}
.profile_image_container {
  position: absolute;
  bottom: -60px;
  left: 20px;

  padding: 5px;
  height: auto;
  width: auto;
  background-color: #fff;
  border-radius: 50%;
}
.profile_image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #f9f9f9;
  cursor: pointer;
  position: relative;
  background-position: center;
  background-size: cover;
}

.camera_of_button_profile {
  background-color: #f9f9f9;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #030303;
  font-size: 20px;
  cursor: pointer;
}

.channel_links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  column-gap: 20px;
  height: auto;
}

.link {
  font-weight: 400;
  cursor: pointer;
}
.link_active {
  text-underline-offset: 5px;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: #030303;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 20px;
    width: 100%;
  }
  .second_div_channel_info {
    width: 100%;
    order: 1;
  }
  .container_main {
    width: 100%;
  }
  .upload_inputs_container {
    min-height: 250px;
    padding: 0px;
  }
  .upload_inputs_container {
    padding: 20px 20px 0 0;
    position: relative;
  }
  .name {
    background-color: #fff;
    width: 100%;
    text-align: start;
  }
  .image_name_conainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }

  .profile_image_container {
    margin-left: 20px;
  }
  .profile_image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #f9f9f9;
    cursor: pointer;
    position: relative;
    background-position: center;
    background-size: cover;
  }
  .links_container {
    min-height: 60px;
    background-color: #fff;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 20px 20px;
  }
  .channel_links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 10px;
    row-gap: 0;
    margin: 0;
    padding: 0;
  }
  .upload_inputs_container {
    padding-right: 20px;
  }
}
