.container {
  height: auto;
  flex-basis: 25%;
  width: 100%;
  padding: 0%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.vedio_container {
  height: 170px;
  width: 95%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  position: relative;
  background-color: #e3e3e3;
  margin: 0 auto;
}
.time {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  column-gap: 5px;
  right: 10px;
  bottom: 10px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  cursor: pointer;
  padding: 5px;
  margin: 0;
  border-radius: 2px;
  background-color: #030303de;
}
.time > svg {
  font-size: 18px;
}
.desc_container {
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  row-gap: 5px;
  margin: 0 auto;
}
.title_data {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #030303;
  cursor: pointer;
}

.chanel_data {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
}
.chanel_img {
  height: 30px;
  width: 30px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
}
.chanel_name {
  color: #606060;
  font-size: 12px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  line-height: 14px;
}
.date {
  line-height: 14px;
  color: #606060;
  font-size: 12px;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.chanel_details {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

@media screen and (max-width: 900px) {
  .container {
    flex-basis: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
}
