.container {
  flex-basis: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0px 0 10px 0;
  row-gap: 5px;
}
.vedio_container,
.vedio_container_MenuBoolean {
  width: 95%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  position: relative;
  background-color: #e3e3e3;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.vedio_container_MenuBoolean {
  height: 160px;
}

.vedio_container {
  height: 140px;
}
.time {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  column-gap: 5px;
  right: 10px;
  bottom: 10px;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  cursor: pointer;
  padding: 1px 5px;
  margin: 0;
  border-radius: 20px;
  background-color: #171717;
  font-size: 12px;
}
.time > svg {
  font-size: 17px;
}
.desc_container {
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  row-gap: 5px;
  margin: 0 auto;
  overflow: hidden;
  min-height: 90px;
}
.title_data {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  height: auto;
}
.title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #030303;
  cursor: pointer;
}
.menu {
  visibility: hidden;
}
.menu_desktop,
.menu {
  position: relative;
  right: -5px;
}
.menu:last-of-type,
.menu_desktop:last-of-type {
  margin-left: auto;
}

.chanel_data {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
}
.chanel_img {
  height: 40px;
  width: 40px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
  background-color: #e3e3e3;
}
.chanel_name {
  color: #606060;
  font-size: 13.5px;
  font-weight: 500;
  cursor: pointer;
  padding: 0;
  margin: 2px 0;
  line-height: 14px;
}
.chanel_name:hover {
  text-decoration: underline;
}
.date {
  line-height: 14px;
  color: #606060;
  font-size: 13px;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.chanel_details {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
/* box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.1); */
/* .container:hover {
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.1);
} */
@media screen and (max-width: 1100px) {
  .container {
    flex-basis: 30%;
    height: auto;
    margin: 0 0 10px 0;
  }

  .menu {
    visibility: visible;
  }
}
@media screen and (max-width: 900px) {
  .container {
    flex-basis: 50%;
  }
  .vedio_container,
  .vedio_container_MenuBoolean {
    height: 200px;
  }
  .desc_container {
    margin: 0 10px;
    min-height: 10px;
  }
}

@media screen and (max-width: 700px) {
  .container {
    flex-basis: 50%;
  }
  .vedio_container,
  .vedio_container_MenuBoolean {
    height: 200px;
  }
}
@media screen and (max-width: 690px) {
  .vedio_container,
  .vedio_container_MenuBoolean {
    height: 150px;
  }
}
@media screen and (max-width: 600px) {
  .container {
    flex-basis: 50%;
  }
  .vedio_container,
  .vedio_container_MenuBoolean {
    height: 150px;
  }
}
@media screen and (max-width: 500px) {
  .container {
    flex-basis: 100%;
    width: 100%;
  }
  .vedio_container,
  .vedio_container_MenuBoolean {
    width: 100%;
    height: 250px;
    border-radius: 0px;
  }
}
@media screen and (max-width: 400px) {
  .vedio_container,
  .vedio_container_MenuBoolean {
    height: 200px;
  }
}
@media screen and (max-width: 300px) {
  .vedio_container,
  .vedio_container_MenuBoolean {
    height: 120px;
  }
}
@media screen and (max-width: 200px) {
  .vedio_container,
  .vedio_container_MenuBoolean {
    height: 80px;
  }
}

/* --------------------------------------------------------------------------- */
.lds_roller {
  display: flex;
  position: relative;
  width: 80px;
  height: 80px;
  /* background-color: red; */
}
.lds_roller > div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds_roller > div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #f5f3f3;
  margin: -4px 0 0 -4px;
}
.lds_roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds_roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds_roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds_roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds_roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds_roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds_roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds_roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds_roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds_roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds_roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds_roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds_roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds_roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds_roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds_roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
