.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: inherit;
  row-gap: 20px;
  width: 100%;
}
.container_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  box-shadow: #00000017 0px 3px 12px;
}
.upload_inputs_container {
  height: 250px;
  width: 100%;
  background: linear-gradient(110deg, #dbdbdbdb 60%, #f0f0f0 60%);
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
}
.image_name_conainer {
  position: absolute;
  bottom: -40px;
  left: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  column-gap: 20px;
}
.camera_of_button {
  background-color: #f9f9f9;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #030303;
  font-size: 20px;
  cursor: pointer;
}
.name {
  font-weight: 400;
  color: #030303;
  cursor: pointer;
  font-size: 22px;
}

.input_upload {
  display: none;
}

.links_container {
  min-height: 60px;
  background-color: #fff;
  border-radius: 0px 0px 5px 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  padding: 20px 50px;
}
.profile_image_container {
  padding: 5px;
  height: auto;
  width: auto;
  background-color: #fff;
  border-radius: 50%;
}
.profile_image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #000;
  cursor: pointer;
  position: relative;
  background-position: center;
  background-size: cover;
}

.camera_of_button_profile {
  background-color: #f9f9f9;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #030303;
  font-size: 20px;
  cursor: pointer;
}

.chanel_links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  column-gap: 20px;
  height: auto;
}

.link {
  font-weight: 400;

  cursor: pointer;
}
.link_active {
  text-underline-offset: 10px;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: #030303;
  text-decoration-style: solid;
  text-decoration-thickness: 4px;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .upload_inputs_container {
    min-height: 250px;
    padding: 0px;
  }
  .upload_inputs_container {
    padding: 20px 20px 0 0;
    position: relative;
  }
  .name {
    background-color: #fff;
    width: 100%;
    padding: 20px 20px 0px 20px;
  }
  .image_name_conainer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 20px;
    width: 100%;
  }

  .profile_image_container {
    margin-left: 20px;
  }
  .profile_image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #000;
    cursor: pointer;
    position: relative;
    background-position: center;
    background-size: cover;
  }
  .links_container {
    min-height: 60px;
    background-color: #fff;
    border-radius: 0px 0px 5px 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 20px;
  }
  .chanel_links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    row-gap: 0;
    margin: 0;
    padding: 0;
  }
  .upload_inputs_container {
    padding-right: 20px;
  }
}
