.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  row-gap: 20px;
}
.places {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 10px;
  align-items: center;
  color: #071c55;
  margin-top: 5px;
}

.detail_title {
  color: #071c55;
  margin: 5px 0;
}

.desc {
  margin-top: 5px;
  color: #071c55;
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}
