/* ------------------------------input container ---------------------------------*/

.reply_input_container,
.reply_input_container_phone {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  height: auto;
  margin: auto 0;
  padding: 0 5px;
}
.reply_input {
  width: 100%;
  background-color: #fff;
  margin: 0;
  padding: 0 10px;
  border: none;
  outline: none;
  font-size: 12px;
  border-radius: 0px;

  height: 100%;
  border-radius: 20px 0 0 20px;
}
.input_container {
  padding-top: 0px;
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  row-gap: 0px;
  border: 1px solid #cccccc6c;
  border-radius: 20px;
  margin: 0 auto;
}

.input_reply_buttons_continer {
  width: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  column-gap: 20px;
}

.comment_btn {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color: #030303;
  cursor: pointer;
  color: #fff;
  border-radius: 0 20px 20px 0;
  padding: 7px 7px;
  height: 100%;
  min-width: 40px;
  background-color: #fbbd18;
}
@media screen and (max-width: 900px) {
  /* .comment_btn {
    font-size: 13px;
    font-weight: 400;
    border-left: 1px solid #fff;
    background-color: #ffffff00;
    height: 80%;
    padding: 0px 7px;
  }
  .reply_input {
    color: #fff;
  } */
}
