/* ------------------------------input container ---------------------------------*/

.reply_input_container,
.reply_input_container_phone {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  min-height: 60px;
  margin: auto 0;
  border-top: 1px solid #dbdbdb;
  padding: 0 10px;
}
.reply_input {
  width: 90%;
  background-color: transparent;
  margin: 0;
  padding: 0 10px;
  border: none;
  outline: none;
  font-size: 12px;
  border-radius: 0px;
}
.input_container {
  padding-top: 0px;
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  border: 1px solid #dbdbdb;
  border-radius: 20px;
  margin: 0 auto;
}

.input_reply_buttons_continer {
  width: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  column-gap: 20px;
}

.comment_btn {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color: #030303;
  cursor: pointer;
  color: #fff;
  border-radius: 0 20px 20px 0;
  padding: 7px 7px;
  height: 100%;
  background-color: #673de6;
}
@media screen and (max-width: 900px) {
  
}
