.container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  column-gap: 20px;
  width: 30%;
}
.drop_down_option {
  background-color: #f9f9f9;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #030303;
  font-size: 20px;
  cursor: pointer;
}
.drop_down_option_sold {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  min-width: 80px;
  height: 40px;
  border-radius: 2px;
  color: #030303;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid#DBDBDB;
  cursor: pointer;
}
.drop_down_container {
  position: absolute;
  top: 30px;
  right: 0px;
  min-height: 300px;
  width: 298px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: #00000017 0px 3px 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 5px;
  padding: 10px 0;
}
/*------------------------------------------------------*/
.chanel_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  border-radius: 2px;
  column-gap: 10px;
  border-bottom: 1px solid#DBDBDB;
  cursor: pointer;
}
.chanel_container:hover,
.link_container:hover,
.sing_out_container:hover {
  background-color: #f9f9f9;
}
.img {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}
.icon {
  color: #030303;
  font-size: 20px;
  margin: 0 20px;
}
.name {
  color: #030303;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.chanelname {
  color: #727272;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.link_data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 20px;
  row-gap: 5px;
}
.link_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0;
  border-radius: 2px;
  cursor: pointer;
}
.sing_out_container {
  border-top: 1px solid#DBDBDB;
  cursor: pointer;

  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0;
  border-radius: 2px;
}
@media screen and (max-width: 900px) {
  .drop_down_option_sold {
    display: none;
  }
}
