.container,
.container_phone {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: auto;
  position: relative;
  column-gap: 20px;
}
.container_search,
.container_search_phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 38px;
  border: 1px solid#DBDBDB;
  border-radius: 2px;
  position: relative;
}
.search_input {
  width: 80%;
  padding: 0 15px;
  border: none;
  outline: none;
}
.search_button {
  background-color: #f0f0f0;
  width: 60px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #030303;
  font-size: 20px;
}

.buttons_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  height: 100%;
}
.rest_of_button {
  background-color: #f9f9f9;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #030303;
  font-size: 20px;
}
.rest_of_button_search_phone {
  display: none;
}
@media screen and (max-width: 900px) {
  .container {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: auto;
    position: relative;
    column-gap: 20px;
  }
  .container_search {
    display: none;
  }
  .container_search_phone {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 38px;
    border: 1px solid#DBDBDB;
    border-radius: 2px;
    position: relative;
  }

  .container_phone {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    position: absolute;
    background-color: #fff;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 10px 0;
  }
  .buttons_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 40px;
    height: auto;
    margin-right: 10px;
  }
  .rest_of_button_search_phone {
    display: none;
    background-color: #f9f9f9;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #030303;
    font-size: 20px;
  }
  .rest_of_button {
    display: none;
  }
}
