.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  column-gap: 20px;
  width: 30%;
}

.button_log_in {
  background-color: #fff;
  width: auto;
  height: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #030303;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid#DBDBDB;
  padding: 0 20px;
}
.button_singup {
  background-color: #673de6;
  width: auto;
  height: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 0 10px;
}

@media screen and (max-width: 900px) {
  .container {
    display: none;
  }
}
