.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width : 10%;
    }

    .logo {
        width: 10px;
        height: 10px;
        cursor: pointer;

    }