.container{
    width: 100%;
    height:  60px;
    background-color: #071C55;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;

}
.req_data{
    margin-right: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 10%;
    color: #fff;
    cursor: pointer;
}
.req_data > img{
    max-width: 30px;
}

  .to_docoraton {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .powered_our_team {
    color: #fff;
    font-size: 14px;
    font-weight: 200;
    cursor: pointer;
  }
  
  .span_dicoration {
    background-image: url("https://www.urexcursion.com/images/slider-bg-right_2.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    margin-top: -15px;
  }



  .container_ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
min-width: 20%;
}
.li {
    list-style: none;
    font-size: 14px;
    padding: 5px 0 ;
    border-radius: 20px;
    text-align: center;
    padding: 5px 10px;
    font-weight: 200;
    color : #fff;
    text-decoration: underline #fff;

}
.li:hover {
    background-color: #142e74;
}