.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 10px 0;
}
.main_container {
  height: auto;
  box-shadow: #00000017 0px 3px 12px;
  width: 90%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
  row-gap: 10px;
  background-color: #fff;
  border-radius: 10px;
  min-height: 150px;
  margin: 10px 0;
}

.chanel_data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  width: 10%;
}
.chanel_img {
  width: 90px;
  height: 90px;
  aspect-ratio: 1.5 / 1;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
  background-color: #e3e3e3;
}

.title_data {
  padding-top: 20px;
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 10px;
  min-height: 120px;
}
.small_bar {
  width: 10%;
  height: 10px;
  background-color: #e3e3e3;
  border-radius: 20px;
}
.big_bar {
  background-color: #e3e3e3;
  width: 15%;
  height: 15px;
  border-radius: 20px;
}
.last_bar {
  background-color: #e3e3e3;
  width: 20%;
  height: 15px;
  border-radius: 20px;
}
@media screen and (max-width: 900px) {
  .container {
    justify-content: center;
    align-items: center;
  }
  .main_container {
    flex-basis: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
}
